body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100vh;
}

.desktop-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../images/background1.jpg'); /* Change to your background image path */
    background-size: cover;
    background-position: center;
    z-index: 0;
}

.icon-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start; /* Align items to the left */
    align-items: flex-start; /* Align items to the top */
    padding: 20px; /* Optional: add some padding for spacing */
    z-index: 1;
}

.icon {
    text-align: center;
    margin: 0; /* Remove any margin to position the icon at the top left */
    cursor: pointer;
    font-family: Helvetica, sans-serif; /* Use Helvetica font for folder names */
}

.icon img {
    width: 100px;
    height: 100px;
    display: block;
    margin: 0 auto;
}

.icon span {
    display: block;
    color: white;
    margin-top: -5px; /* Adjusted to -5px to move text closer to the image */
    font-size: 14px;
    font-weight: bold; /* Make the folder text bold */
}

.bottom-row {
    position: absolute;
    bottom: 20px; /* Adjust the distance from the bottom */
    left: calc(50% - 250px); /* Center the bottom row */
    width: 500px; /* Adjust width as needed */
    height: 60px; /* Adjust height as needed */
    background-color: rgba(100, 100, 100, 0.8); /* Darker grey with transparency */
    border-radius: 20px; /* Adjusted border-radius for less rounded corners */
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 1;
}

/* Bottom Row Default */
.bottom-row img {
    width: 50px; /* Adjust the width of the icons */
    height: auto; /* Maintain aspect ratio */
    cursor: pointer; /* Optional: add cursor pointer */
    margin: 0 10px; /* Adjust margin between icons */
}

/* Photos Icon */
.bottom-row img:nth-child(1) {
    width: 54px; /* Adjust the width of the photos icon */
    height: auto; /* Adjust the height of the photos icon */
}

/* Music Icon */
.bottom-row img:nth-child(2) {
    width: 48px; /* Adjust the width of the music icon */
    height: auto; /* Adjust the height of the music icon */
}

/* Mail Icon */
.bottom-row img:nth-child(3) {
    width: 54px; /* Adjust the width of the mail icon */
    height: auto; /* Adjust the height of the mail icon */
}

/* Settings Icon */
.bottom-row img:nth-child(4) {
    width: 50px; /* Adjust the width of the settings icon */
    height: auto; /* Adjust the height of the settings icon */
}
