/* Reset default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100vh;
}

.desktop-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../images/background1.jpg'); /* Adjust path to your background image */
    background-size: cover;
    background-position: center;
    z-index: 0;
}

.icon-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 20px;
    z-index: 1;
}

.icon {
    text-align: center;
    margin: 0;
    cursor: pointer;
    font-family: Helvetica, sans-serif;
    position: relative;
    display: inline-block;
    transition: transform 0.3s ease;
    

}


/* Change size of resume icon to match Projects folder size */
.icon-container .icon#resume-icon img {
    padding: 10px;
    
    
    /* Add any additional styling here */
}



.icon img {
    width: 100px;
    height: 100px;
    display: block;
    margin: 0 auto;
}

.icon span {
    display: block;
    color: white;
    margin-top: -5px;
    font-size: 14px;
    font-weight: bold;
}

.bottom-row {
    position: absolute;
    bottom: -20px;
    left: calc(50% - 250px);
    width: 500px;
    height: 60px;
    background-color: rgba(54, 52, 52, 0.5);
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 1;
    border: 0.5px solid rgb(88, 87, 87);
}

.bottom-row img {
    width: 50px;
    height: auto;
    cursor: pointer;
    margin: 0 10px;
}

.tooltip {
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(88, 87, 87, 0.8);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    opacity: 0;
    transition: opacity 0.3s ease;
    white-space: nowrap;
}

.icon:hover .tooltip {
    opacity: 1;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    max-width: 80%;
    background-color: #fefefe;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.modal-header {
    background-color: #888;
    color: white;
    padding: 10px 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    position: relative;
    margin: -20px -20px 20px -20px;
    border-bottom: 1px solid #666;
    cursor: move;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal-title {
    margin: 0;
    font-size: 20px;
}

.close {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #FF605C;
    color: white;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 0px;
}

.close:hover {
    background-color: #FF433E;
}

.modal-body {
    padding: 20px;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
}

.close:hover::after {
    content: 'x';
    color: white;
}

/* CSS for the music player */
#audio-details {
    margin-top: 20px;
}

.audio-item {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #f0f0f0;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.audio-item p {
    margin: 0;
}

.audio-controls {
    display: flex;
    align-items: center;
}

.audio-controls button {
    margin-left: 10px;
    cursor: pointer;
}

.audio-controls button:focus {
    outline: none;
}



/*  */

/* CSS to style background previews */
.background-preview {
    display: inline-block;
    margin-right: 200px;
}

.background-preview img {
    width: 200px; /* Adjust width of the preview images */
    height: auto; /* Maintain aspect ratio */
    border: 1px solid #ccc; /* Optional: add a border for visual separation */
    cursor: pointer;
}



/* CSS for expanding the tab */
.expand-tab {
    display: flex;
    flex-wrap: wrap;
    max-height: 150px; /* Adjust max height as needed */
    overflow-y: auto; /* Enable vertical scroll if needed */
}

.background-preview {
    
    width: 10vb; /* Adjust width of the preview images */
    height: 50%; /* Maintain aspect ratio */
    margin-right: 10px;
    cursor: pointer;
    transition: transform 0.1s ease; /* Smooth transition for transform */
}

.background-preview img {
    width: 100%;
    height: auto;
    border: 1px solid #ccc; /* Optional: add a border for visual separation */
}

.background-preview.active {
    transform: scale(1.2); /* Increase size on active */
    z-index: 1; /* Ensure active preview is on top */
}
